<%- include('includes/header') %>

    <div class="container">
        <div class="col-md-4 col-md-offset-4">
            <form class="form-signin">
                <h2 class="form-signin-heading text-center">Войти</h2>
                <label class="sr-only">Логин</label>
                <input type="text"  name="username" class="form-control" placeholder="Логин" required autofocus>
                <br />
                <label class="sr-only">Пароль</label>
                <input type="password" name="password" class="form-control" placeholder="Пароль" required>
                <br />
                <p>Нет аккаунта? <a href="/users/register">Регистрация</a></p>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
            </form>
        </div>

    </div> <!-- /container -->

<%- include('includes/footer') %>